.button-add {
  text-align: center;
  background-color: #323232;
  border-color: #323232;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.button-add:focus,
.button-add:hover {
  background-color: #376fdb;
  border-color: #376fdb;
}

.edit-title {
  font-size: 22px;
  text-align: center;
}

.table-container {
  max-height: 280px; /* Встановлюємо максимальну висоту контейнера */
  overflow: auto; /* Додаємо прокрутку, якщо вміст виходить за межі */
}

.users-table {
  text-align: center;
  font-size: 20px;
  width: 100%; /* Заповнюємо всю доступну ширину */
  border-collapse: collapse; /*злити межі (рамки) таблиці, якщо вони зустрічаються*/
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid gray;
}

.users-table th,
.users-table td {
  padding: 12px 15px;
}

.users-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.users-table td {
  border-bottom: 1px solid #ddd;
}

.users-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.users-table tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/*Modal*/
.modal-label {
  text-align: center;
  font-size: 22px;
}

.modal-field-checkbox {
  width: 20px;
  height: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1000px) {
  .main-title {
    font-size: 28px;
  }

  .users-table {
    font-size: 18px;
    width: 400px;
  }
}

@media (max-width: 500px) {
  .main-title {
    font-size: 25px;
  }
  
  .buttons {
    gap:20px;
  }

  .button-add {
    font-size: 15px;
  }

  .edit-title {
    font-size: 20px;
    text-align: center;
  }

  .table-container  {
    max-height: 200px;
  }

  .users-table {
    font-size: 14px;
    width: 200px;
  }

  .users-table th,
  .users-table td {
    padding: 5px 5px;
  }

  /*Modal*/

  .modal-label {
    text-align: center;
    font-size: 18px;
  }
}
